WEBSHARE_API_KEY=
CLAY_SIGNUP_PASSWORD=
CLAY_EMAIL_DOMAIN=example.com
CLAY_SIGNUP_URL=https://app.clay.com/signup
CLAY_TEMPLATE_URL=
LEADS_SOURCE_DIR=D:\LEADS CSV
LEADS_OUTPUT_DIR=D:\LEADS\archieved leads
CLAY_CONCURRENT=2
